<!DOCTYPE html>
<html>

<head>
    <title>Chatbot Demo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Chatbot Demo</h1>
    <div id="chat-area"></div>
    <div class="chat">
        <form method="POST" action="/chatbot">
            <input type="text" id="user_input" name="user_input">
            <input type="submit" value="Send">
        </form>
    </div>
</body>

</html>